#login-container > *,
#login-container > form > input,
button {
  margin-top: 20px;
}

#login-container > form > * {
  width: 90%;
}

#login-container > form > input {
  height: 50px;
  font-size: 1.05em;
}

#newAccountSpan {
  margin-right: 10px;
}

#newAccountSpan,
#forgotMyPassSpan {
  color: #0000ee;
}

#newAccountSpan:hover,
#forgotMyPassSpan:hover {
  text-decoration: underline;
  cursor: pointer;
}
