.tab-title {
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20px;
}

#inputs-table {
  padding-left: 30px;
}

.date-input {
  width: 150px;
  border: none;
}

.date-input:hover {
  cursor: pointer;
}

.search-clear-btns {
  padding-left: 30px;
}

.search-clear-btn:focus {
  box-shadow: none !important;
  outline: 0;
}

.search-clear-btn {
  width: 85px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-width: 1.7px;
}

.search-clear-btn:hover {
  background-color: #005b96;
}

#clear-btn {
  margin-left: 5px;
  border-color: darkred;
}

#clear-btn:hover {
  background-color: darkred;
}

#search-btn:disabled {
  background-color: gray;
}

#video-list-header {
  margin-bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
