body {
  background-color: #f2efea;
  margin: 0;
  padding: 0;
  border: 0;
}

#account-btn,
#login-btn {
  width: 50%;
  border-radius: 20%;
}

#account-btn {
  color: black;
  border-color: black;
  margin-bottom: 10px;
}

#login-btn {
  color: black;
  border-color: black;
  background-color: #56a3a6;
}

#account-btn:hover,
#login-btn:hover {
  background-color: #56a3a6;
  opacity: 0.4;
}

.videos-col,
.home-container {
  margin: 0;
  padding: 0;
  border: 0;
}

#homepage-title {
  margin-bottom: 30px;
  margin-left: 30px;
}

#citation-zone {
  margin-bottom: 50px;
  margin-left: 30px;
}
